.bgimg{
    width: 100%;
    height: 100vh;
   
   }
   
.centerdiv{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background-image: linear-gradient(27deg, var(--color-bg1) 50%, var(--color-bg2) 50%);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
   
#profilepic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: calc( (350px - 120px) / 2 )
}
   
h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    word-spacing: 10px;
    margin-top: -50px;
    margin-bottom: 50px;
    text-shadow: -2px 2px 1px #0A84C6;
}
   
.inputbox{
    width: calc(100% - 40px);
    background-color: var(--color-bg);
    height: 30px;
    display: block;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
}


   
::placeholder{
    letter-spacing: 2px;
    color: white;
}
   
button{
    width: calc(100% - 40px);
    height: 30px;
    display: block;
    margin: auto;
    color: white;
    background-color: var(--color-bg2);
    border: none;
    cursor: pointer;
}
   
.FORGOT-SECTION{
    width: calc(100% - 40px);
    line-height: 30px;
    display: block;
    margin: auto;
    color: white;
    background-color: var(--color-bg2);
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.FORGOT-SECTION p{
    box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.3);
    font-size: 8px;
}